<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- admin -->
<mapper namespace="com.orderdish.dao.AdminDao">

    <!-- 字段映射 -->
    <resultMap id="adminMap" type="com.orderdish.model.Admin">
        <id column="admin_id" property="adminId" jdbcType="INTEGER" />
        <result column="admin_username" property="adminUsername" jdbcType="VARCHAR" />
        <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 表查询字段 -->
    <sql id="allColumns">
        a.admin_id, a.admin_username, a.admin_password
    </sql>


    <!-- 查询所有 -->
    <select id="getAdminByUsername" resultMap="adminMap">
        SELECT
        <include refid="allColumns" />
        FROM admin a where admin_username = #{adminUsername}
    </select>
</mapper>
